<!-- Toolbar -->
<md-toolbar class="md-toolbar-tools" md-whiteframe="4">
    <md-button class="md-icon-button">
        <i class="material-icons">menu</i>
    </md-button>
    <md-truncate flex>Home</md-truncate>
</md-toolbar>

<!-- Body -->
<md-content>
    <h2>収入</h2>
    <form ng-submit="addIncomeHouseholdAccount(incomeDate,incomeExpress,incomeMoney)">
        <input type="date" ng-model="incomeDate" required>
        <input type="text" ng-model="incomeExpress" placeholder="費目"required>
        <input type="number" ng-model="incomeMoney" placeholder="金額"required>
        <input type="submit" value="追加する">
    </form>

    <br>

    <table>
        <tr ng-repeat="task in tasks| orderBy: 'incomeDate'" ng-show="task.flag" >
            <div ng-show="task.spendingMoney == 0" >
            <td>{{task.incomeDate| date:'yyyy年M月d日（EEE）'}}</td><td>{{task.incomeExpress}}</td><td>{{task.incomeMoney}}</td><td><button ng-click="deleteIncomeHouseholdAccount(task.spendingDate)">削除</button></td>
            </div>
        </tr>
        <tr>
            <td>収入合計</td><td></td><td>{{incomeSum|number}}円</td>
        </tr>
    </table>
    
    <h2>支出</h2>
    <form ng-submit="addSpendingHouseholdAccount(spendingDate,spendingExpress,spendingMoney)">
        <input type="date" ng-model="spendingDate" required>
        <input type="text" ng-model="spendingExpress" placeholder="費目"required>
        <input type="number" ng-model="spendingMoney" placeholder="金額"required>
        <input type="submit" value="追加する">
    </form>

    <br>

    <table>
        <tr ng-repeat="task in tasks| orderBy: 'spendingDate'" ng-hide="task.flag">
                <td >{{task.spendingDate| date:'yyyy年M月d日（EEE）'}}</td><td>{{task.spendingExpress}}</td><td>{{task.spendingMoney}}</td><td> <button ng-click="deleteSpendingHouseholdAccount(task.incomeDate)">削除</button></td>
        </tr>
        
        <tr>
            <td>支出合計</td><td></td><td>{{spendingSum |number}}円</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td><h2>収支</h2></td><td>　　　</td><td><h2>{{total|number}}円</h2></td>
        </tr>
    </table>
</md-content>